@import "src/assets/styles/_variables";

$childGutter: 3rem;

.action-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: size("footer");
  // justify-content: flex-end;
  align-items: center;
  padding: size("gutter--huge");
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &.flex-start {
    justify-content: flex-start;
  }

  &.flex-center {
    justify-content: center;
  }

  &.flex-end {
    justify-content: flex-end;
  }

  &.between {
    justify-content: flex-end;
  }

  &.bg {
    // background-color: rgba(color("background"), .95);
    // background-image: linear-gradient(to bottom, transparent, #000);
    // transform: translateZ(0);
    // backdrop-filter: blur(2px); 
  }
}

.action-children {
  display: flex;
  margin-left: -$childGutter/2;
  margin-right: -$childGutter/2;

  app-button {
    margin-left: $childGutter/2;
    margin-right: $childGutter/2;
  }
}