@import "src/assets/styles/_variables";

$cardWidth: 12.5%;
$gutter: 2rem;

.container {
  // padding-left: size("gutter--huge");
  // padding-right: size("gutter--huge");
}

.inner {
  padding-bottom: size("footer");
}

.label {
  color: color("cool-red");
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
  transform: translateZ(0);

  &.lobare {
    margin-bottom: 2rem;
  }
}

.item {
  width: $cardWidth;
  padding: $gutter/2;
  flex: 0 0 auto;
}
