<app-wrapper>
  <div *ngIf="lobare && xlobare" class="container">
    <!-- <div class="overlay"></div> -->
    <div class="inner">
      <div class="label">
        Användare
      </div>

      <div class="title">
        Lob
      </div>
      <ul class="list lobare">
        <li *ngFor="let lobster of lobare" class="item">
          <a [routerLink]="['/users', lobster.id]">
            <app-user-card [user]="lobster"></app-user-card>
          </a>
        </li>
      </ul>

      <div class="title">
        Övriga
      </div>
      <ul class="list">
        <li *ngFor="let xlobster of xlobare" class="item">
          <a [routerLink]="['/users', xlobster.id]">
            <app-user-card [user]="xlobster"></app-user-card>
          </a>
        </li>
      </ul>
    </div>
  </div>
</app-wrapper>

<app-action-bar [background]="true" position="left">
  <app-button label="Bakåt" modifiers="primary" to="/">
    <fa-icon [icon]="faChevronLeft" size="2x"></fa-icon>
  </app-button>
</app-action-bar>

<app-hidden-input (onValueChange)="onValueChange($event)"></app-hidden-input>