@import "src/assets/styles/_variables";

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feed {
  position: absolute;
  top: size("header");
  left: 0;
  right: 0;
  bottom: size("gutter--extreme");
  padding: 0 size("gutter--huge");
  overflow-y: auto;
}