@import "src/assets/styles/_variables";

.feed {
  position: absolute;
  top: size("header");
  left: 0;
  right: 0;
  bottom: size("gutter--extreme");
  padding: 0 size("gutter--huge");
  overflow-y: auto;
}