@import "src/assets/styles/_variables";

.block {
  position: relative;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;


  z-index: -1;

  transform: skew(36deg);
  transform-origin: 0% 100%;
}

.donut {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, center top, center bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

.overlay {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
}

.digits {
  text-align: center;
}

.time {
  font-size: 4rem;
}

.date {
  font-size: 1rem;
  color: color("light-grey");
}