@import "src/assets/styles/_variables";

.header {
  display: flex;
  position: relative;
  height: size("header");
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 size("gutter--huge");
  z-index: z-index("system");

  &.background {
    background-color: rgba(color("background"), .95);
    backdrop-filter: blur(2px);
  }
}

.logo {
  color: color("text");
  font-size: 2em;
  margin: 0;
}

.admin {
  color: color("cool-red");
}

.clock {
  font-size: 1.5em;
}