<div class="block" [routerLink]="['/users']">
  <div class="content-container">
    <div class="feed">
      <div class="list">
        <app-feed [feed]="feed"></app-feed>
      </div>
    </div>

    <div class="clock">
      <div class="inner">
        <app-clock></app-clock>
      </div>
    </div>

    <div class="highscore">
      <!-- <ul *ngIf="highscoreUsers" class="highscore-list">
        <li *ngFor="let user of highscoreUsers" class="item">
          <div>
            {{ user.debt }} kr
          </div>
          <div class="bar"></div>
          <div class="">
            {{ user.firstname }} {{ user.lastname }}
          </div>
        </li>
      </ul> -->
      <div *ngIf="highscoreUsers" class="content">
        <div class="title">Månadens highscore</div>

        <table class="highscore-list">
          <tbody>
            <tr *ngFor="let user of highscoreUsers; let i = index" class="table-row">
              <td>
                <div *ngIf="i === 0" class="trophy">
                  <fa-icon [icon]="faTrophy" size="1x"></fa-icon>
                </div>
              </td>
              <td class="name" [class.highlight]="i === 0">
                {{ user.firstname }} {{ user.lastname }}
              </td>
              <td class="bar">
                <div *ngIf="highscoreUsers[0].debt > 0" class="bar-overlay"
                  [style.transform]="'scaleX('+ (highscoreUsers[0].debt - user.debt)/(highscoreUsers[0].debt) +')'">
                </div>
              </td>
              <td class="debt">{{ user.debt }} kr</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<app-action-bar position="right">
  <app-button label="Hjälp" modifiers="primary" (click)="onHelpClick()">
    <fa-icon [icon]="faQuestion" size="2x"></fa-icon>
  </app-button>

  <app-button label="Användare" modifiers="primary" to="/users">
    <fa-icon [icon]="faUsers" size="2x"></fa-icon>
  </app-button>
</app-action-bar>

<app-hidden-input (onValueChange)="onValueChange($event)"></app-hidden-input>

<app-modal title="Hjälp" [(show)]="showHelpModal">
  <div class="list-label">För att strecka en artikel:</div>
  <ul>
    <li>1. Tryck på knappen <span style="margin-right: .25rem;">
        <fa-icon [icon]="faUsers" size="1x"></fa-icon>
      </span>
      <i>Användare</i> eller tryck mitt på klockan
    </li>
    <li>2. Scrolla och tryck på <i>ditt</i> namn i listan</li>
    <li>3. Skanna valfri vara</li>
  </ul>
  <div class="price-row">
    <div class="list-label">Prisförfrågan:</div>
    <div>Skanna artikeln när som helst för att få prisuppgift</div>
  </div>
</app-modal>