@import "src/assets/styles/_variables";

$barHeight: 1.5rem;

.block {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.content-container {
  display: flex;
  width: 100%;
}

.action-container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: size("gutter--huge");
  bottom: 0;
  left: 0;
}

.feed {
  min-width: 25%;
  width: 25%;
  max-width: 25%;
  position: relative;
  height: 100vh;
  padding: 0 size("gutter--huge");
  padding-top: size("header");
  background-color: rgba(0, 0, 0, .1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.list {
  border-top: 1px solid color("border");
  padding-top: size("gutter--huge");
}

.clock {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inner {
    width: 80%;
  }
}

.highscore {
  display: flex;
  align-items: center;
  min-width: 25%;
  max-width: 25%;
}

.list-label {
  font-size: 1em;
  color: color("background");
  font-weight: bold;
  margin-bottom: .25rem;
}

.price-row {
  margin-top: 1rem;
}

.highscore-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 .5rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}

.item {
  display: flex;
}

.table-row {

}

.content {
  width: 100%;
}

.title {
  padding-bottom: .5rem;
  margin-right: 2rem;
  margin-left: 1.5rem;
  border-bottom: 1px solid #32383D;
  font-size: 1.5rem;
  font-weight: bold;
}

.trophy {
  color: color("cool-red");
  padding-right: .25rem;
}

.debt {
  white-space: nowrap;
  padding-left: 1rem;
  color: color("light-grey");
  font-size: .875rem;
}

.bar {
  position: relative;
  height: $barHeight;
  width: 100%;
  background-color: color("border");
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  background-image: linear-gradient(to right, color("cool-red"), #C64191);
}

.bar-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: $barHeight;
  top: 0;
  left: 0;
  background-color: color("border");
  transform-origin: 100% 50%;
}

.name {
  white-space: nowrap;
  // padding-left: .5rem;
  padding-right: 1rem;
  font-size: 14px;
  // font-weight: bold;
  // color: color("cool-red");

  &.highlight {
    color: color("cool-red");
    font-weight: bold;
  }
}
