@import "src/assets/styles/_variables";

.block {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.content-container {
  display: flex;
  width: 100%;
}

.action-container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: size("gutter--huge");
  bottom: 0;
  left: 0;
}

.feed {
  min-width: 25%;
  width: 25%;
  max-width: 25%;
}

.clock {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inner {
    width: 80%;
  }
}

.fill {
  min-width: 25%;
  max-width: 25%;
}

.list-label {
  font-size: 1em;
  color: color("background");
  font-weight: bold;
}

.help-list {
  margin-top: .25rem;
}

.price-row {
  margin-top: 1rem;
}
