<div class="block" [routerLink]="['/users']">
  <div class="content-container">
    <div class="feed">
      <app-feed></app-feed>
    </div>

    <div class="clock">
      <div class="inner">
        <app-clock></app-clock>
      </div>
    </div>

    <div class="fill"></div>
  </div>

</div>

<app-action-bar position="right">
  <app-button label="Hjälp" modifiers="primary" (click)="onHelpClick()">
    <fa-icon [icon]="faQuestion" size="2x"></fa-icon>
  </app-button>

  <app-button label="Användare" modifiers="primary" to="/users">
    <fa-icon [icon]="faUsers" size="2x"></fa-icon>
  </app-button>
</app-action-bar>

<app-hidden-input (onValueChange)="onValueChange($event)"></app-hidden-input>

<app-modal title="Hjälp" [(show)]="showHelpModal">
  <div class="list-label">För att strecka en artikel:</div>
  <ul>
    <li>1. Tryck på knappen <span style="margin-right: .25rem;">
        <fa-icon [icon]="faUsers" size="1x"></fa-icon>
      </span>
      <i>Användare</i> eller tryck mitt på klockan
    </li>
    <li>2. Scrolla och tryck på <i>ditt</i> namn i listan</li>
    <li>3. Skanna valfri vara</li>
  </ul>
  <div class="price-row">
    <div class="list-label">Prisförfrågan:</div>
    <div>Skanna artikeln när som helst för att få prisuppgift</div>
  </div>
</app-modal>