<div *ngIf="lobare && xlobare" class="inner">
  <div class="label">
    Användare
  </div>

  <div class="title">
    Lob
  </div>
  <ul class="list lobare">
    <li *ngFor="let lobster of lobare" class="item">
      <div class="user" (click)="edit(lobster)">
        <app-user-card [user]="lobster"></app-user-card>
      </div>
    </li>
  </ul>

  <div class="title">
    Övriga
  </div>
  <ul class="list">
    <li *ngFor="let xlobster of xlobare" class="item">
      <div class="user" (click)="edit(xlobster)">
        <app-user-card [user]="xlobster"></app-user-card>
      </div>
    </li>
  </ul>
</div>

<app-action-bar [background]="true" position="right" (click)="toggleUserModal()">
  <app-button label="Lägg till" modifiers="primary">
    <fa-icon [icon]="faUser" size="2x"></fa-icon>
  </app-button>
</app-action-bar>

<app-modal [title]="isNewUser ? 'Lägg till användare' : 'Redigera användare'" (action)="toggleUserModal()"
  [(show)]="showUserModal" [includeFooter]="false" [allowOutsideClick]="false" [cancelable]="true">
  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="firstname">
            <input type="text" class="form-control" id="firstname" formControlName="firstname" autocomplete="off"
              required>
            <span>Förnamn</span>
          </label>
        </div>

        <div class="form-group">
          <label for="lastname">
            <input type="text" class="form-control" id="lastname" formControlName="lastname" autocomplete="off"
              required>
            <span>Efternamn</span>
          </label>
        </div>

        <div class="form-group">
          <app-checkbox label="Lobare" formControlName="lobare"></app-checkbox>
        </div>

        <div class="form-group">
          <app-checkbox label="Admin" formControlName="admin"></app-checkbox>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="id">
            <input type="text" class="form-control" id="id" formControlName="id" autocomplete="off"
              placeholder="ÅÅMMDDXXXX" required>
            <span>Personnummer</span>
          </label>
        </div>

        <div class="form-group">
          <label for="email">
            <input type="email" class="form-control" id="email" formControlName="email" autocomplete="off" required>
            <span>E-mail</span>
          </label>
        </div>

        <div class="form-group">
          <label for="debt">
            <input type="text" class="form-control" id="debt" formControlName="debt" autocomplete="off">
            <span>Skuld (kr)</span>
          </label>
        </div>
      </div>
    </div>

    <div class="bottom-bar">
      <app-button modifiers="normal" type="submit" [disabled]="userForm.invalid">Spara</app-button>
    </div>
  </form>
</app-modal>