<app-wrapper>
  <div class="container">
    <!-- <div class="overlay"></div> -->
    <div *ngIf="user" class="inner">
      <div class="title-row">
        <div class="user-card">
          <app-user-card [user]="user" [includeName]="false"></app-user-card>
        </div>
        <div>
          <div class="label">
            Användare
          </div>
          <div class="title">
            {{user.firstname}} {{user.lastname}}
          </div>
        </div>
        <div class="debt-container">
          <span class="debt">{{user.debt}} kr</span>
        </div>
      </div>

      <div class="left-column">
        <ul class="list">
          <li *ngFor="let purchase of user.purchases" class="item">
            <div>
              <div>
                {{purchase.item.name}}
              </div>
              <div>
                {{ purchase.date | prettyDate }}
              </div>
            </div>
            <span>{{purchase.item.price}} kr</span>
          </li>
        </ul>
      </div>
    </div>

    <app-action-bar [background]="true" position="left">
      <app-button label="Bakåt" modifiers="primary" to="/users">
        <fa-icon [icon]="faChevronLeft" size="2x"></fa-icon>
      </app-button>

      <!-- <app-button modifiers="primary" to="/">
      <fa-icon [icon]="faHome" size="2x"></fa-icon>
    </app-button> -->
    </app-action-bar>

  </div>
</app-wrapper>