@import "src/assets/styles/_variables";

$gutter: 2rem;

.container {
  padding-top: size("header");
  padding-left: size("gutter--huge");
  padding-right: size("gutter--huge");
  padding-bottom: size("footer");
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent 90%, #000);
  z-index: 2;
  opacity: .5;
}

.title-row {
  display: flex;
}

.user-card {
  width: 80px;
  height: 80px;
  margin-right: 2rem;
}

.label {
  color: color("cool-red");
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.debt-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  margin-left: 2rem;
}

.debt {
  font-size: 1.5rem;
  font-weight: bold;
}

.left-column {
  width: 33.33333%;
}

.list {
  margin-left: 116px;
  margin-top: 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  // flex: 0 0 auto;
}