@import "src/assets/styles/_variables";

$gutter: 2rem;

.row {
  display: flex;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}

.title-row {
  display: flex;
}

.user-card {
  width: 115px;
  margin-right: 2rem;
}

.label {
  color: color("cool-red");
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.debt-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  margin-left: 2rem;
}

.debt {
  margin-top: .25rem;
  font-size: 1.25em;
  color: color("text--dark");
}

.left-column {
  width: 40%;
  padding: 0 $gutter/2;
  margin-top: $gutter;
}

.right-column {
  width: 60%;
  padding: 0 $gutter/2;
  margin-top: $gutter;
}

.list {
  width: 100%;
}

.item {
  width: 100%;
  cursor: pointer;
  padding: 1rem;

  &.selected {
    background-color: color("border");
  }
}

.name {
  display: block;
  color: color("cool-red");
  font-weight: bold;
  margin-bottom: .25rem;
}

.event {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;

  .item-date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 16px;
  }

  .price {
    flex: 0 0 auto;
    text-align: right;
    color: color("text--dark");
  }
}

.purchase-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: color("cool-red");
}

.purchase-text {
  margin-top: .25rem;
  text-align: center;
  color: color("text--dark");
  margin-bottom: size("gutter--extreme");
}

.error-message {
  white-space: normal;
}