@import "src/assets/styles/_variables";

$gutter: 2rem;

.title-row {
  display: flex;
}

.user-card {
  width: 115px;
  margin-right: 2rem;
}

.label {
  color: color("cool-red");
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.debt-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  margin-left: 2rem;
}

.debt {
  margin-top: .25rem;
  font-size: 1.25em;
  color: color("text--dark");
}

.left-column {
  width: 40%;
}

.list {
  width: 100%;
  margin-top: 2rem;
}

.item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.name {
  display: block;
  color: color("cool-red");
  font-weight: bold;
  margin-bottom: .25rem;
}

.event {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;

  .item-date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 16px;
  }

  .price {
    flex: 0 0 auto;
    text-align: right;
    color: color("text--dark");
  }
}