@import "src/assets/styles/_variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: size("header");
}

.content {
  height: 100%;
  flex-grow: 0;
  overflow: hidden;
}

.blurred {
  filter: blur(20px);
}

.gradient {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  // background-image: linear-gradient(to bottom right, #fff,transparent);
  background-image: linear-gradient(to bottom, transparent, #000);
  opacity: .7;
}