@import "src/assets/styles/_variables";

// .block {
//   position: relative;
//   height: 100vh;
//   padding: 0 size("gutter--huge");
//   padding-top: size("header");
//   background-color: rgba(0, 0, 0, .1);
// }

// .list {
//   border-top: 1px solid color("border");
//   padding-top: size("gutter--huge");
// }

.item {
  width: 100%;
  float: left;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.name {
  display: block;
  color: color("cool-red");
  font-weight: bold;
  margin-bottom: .25rem;
}

.event {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;

  .item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 16px;
  }

  .date {
    flex: 0 0 auto;
    text-align: right;
    color: color("text--dark");
  }
}

.spinner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}