<div class="row block">

  <div class="col col-3">
    <div class="image-container">
      <img class="blur" src="http://localhost:8080/punk.png" />
      <img class="product" src="http://localhost:8080/punk.png" />
    </div>
  </div>

  <div class="col col-9">

  </div>


  <div>product</div>
  <div *ngIf="item">
    <div>{{ item.name }} {{ item.alcohol }}% {{ item.price | currency: 'SEK': 'symbol':'1.0-0' }}</div>

    <div>
      <img *ngIf="itemImage" [src]="itemImage" />
    </div>
  </div>
</div>