$colors: (
  "background": #131322, // done
  // "green": #6cbb9c,
  // "blue": #589aea,
  // "pink": #d36290,
  // "red": #cd4f4d,
  "neon-red": #FF495C,
  "cool-red": #e9445a,
  "orange": #e06619,
  "border": #32383D, // done
  "text": #fff, // done
  "text--muted": #DDD4D4,
  "header": #32383D,
  "grey": #4C555C, // done
  "light-grey": #A1B4C4, //done
  "primary" : #1BC6B4,

  "purple": #602a7a
);

$breakpoints: (
  "mini"   : 380px,
  "tiny"   : 550px,
  "small"  : 750px,
  "medium" : 884px,
  "large"  : 1176px
);

$sizes: (
  "header": 100px,
  "footer": 144px,
  "gutter--mini": .25rem,
  "gutter--small": .5rem,
  "gutter": 1rem,
  "gutter--large": 1.5rem,
  "gutter--huge": 2rem,
  "gutter--extreme": 3rem
);

@function color($key) {
  @return map-get($colors, $key);
}

@function breakpoint($key) {
  @return map-get($breakpoints, $key);
}

@function size($key) {
  @return map-get($sizes, $key);
}