@import "src/assets/styles/_variables";

.block {
  height: 100vh;
  padding-top: size("header");
  background-color: rgba(0, 0, 0, .1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.list {
  border-top: 1px solid color("border");
  padding-top: size("gutter");
  overflow: auto;
}

.item {
  width: 100%;
}

.icon-container {
  margin-right: size("gutter");
  color: #fff;
}

.link {
  display: block;
  width: 100%;
  padding: size("gutter") size("gutter--huge");
  transition: background-color .1s linear, color .1s linear;
  color: color("light-grey");

  &:hover {
    color: color("background");
    background-color: #fff;

    .icon-container {
      color: color("background");
    }
  }

  &.active:not(:hover) {
    font-weight: bold;
    color: color("cool-red");

    .icon-container {
      color: currentColor;
    }
  }
}
